.pf2e-convenient-consumables {    
    .name {
        text-align: left;
        white-space: nowrap;
    }

    .description {
        color: #666666;
        font-size: 75%;
        font-weight: 600;
        padding-inline: 0.5em;
        text-align: right;
        white-space: nowrap;
    }

    .table,
    th,
    td {
        line-height: 1em;
        padding: 0px;
        width: 100%;
    }
}

button.pf2e-convenient-consumables {
    align-items: center;
    display: flex;
    margin: 4px auto;
    padding: 2px;
}

img.pf2e-convenient-consumables {
    border: 1px solid #444;
    height: 2.5em;
    margin-right: 0.5em;
}

fieldset.pf2e-convenient-consumables {
    border: 1px solid #a1a1a1;
    padding: 5px;
}
